#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                &kp D &kp J &kp C &kp D &kp N
                &kp M &kp T &kp S &kp R &kp E
                &kp K &kp C &kp M &kp B &kp A
                &kp G &kp L &kp R &kp P &kp F
            >;
        };
    };
};
