#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                &kp C &kp K &kp I &kp T &kp W
                &kp Q &kp Y &kp S &kp B &kp F3
                &kp LEFT &kp U &kp DOWN &kp UP &kp RIGHT
                &kp J &kp V &kp LC(M) &kp O &kp A
            >;
        };
    };
};
