#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                &kp T &kp I &kp Q &kp W &kp Y
                &kp S &kp B &kp F3 &kp A &kp O
                &kp K &kp C &kp U &kp LEFT &kp DOWN
                &kp UP &kp J &kp RIGHT &kp LC(M) &kp V
            >;
        };
    };
};
